/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.board {
  background: lightgrey;
}

circle {
  fill: blue;
}

.mouse circle {
  fill: yellow;
}